<!doctype html>
<html ng-app='myApp'>
<head>

	<title>Multiplication Table</title>

	<meta charset="utf-8">

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">


</head>
<body>
	<table ng-controller="MultiplicationCtrl">
		<tr ng-repeat="numberA in numbers">
			<td ng-repeat="numberB in numbers">
				{{ numberA * numberB }}
			</td>
		</tr>
    </table>

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>

</body>
</html>